

{% block button_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if url is empty %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
        {% else %}
            <a href="{{ url }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</a>
        {% endif %}
    {% endspaceless %}
{% endblock button_widget %}
